# Virtual Environment
myenv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Static files
staticfiles/

# Media
media/

# OS Files
Thumbs.db
.DS_Store